<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center ion-title-bold"> Mis tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- IonItem: Almacenar diferentes elementos:
     Imagenes, Inputs, Botones o Formularios
  -->
  <ion-item>
    <!-- IonInput: Por defecto es de tipo text.
       Recomendación: Siempre indicar el name -->
    <ion-input type="text" 
    placeholder="Nueva Tarea" 
    name="task" 
    />

    <ion-button (click) = "addTask()" [disabled]="!task">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </ion-item>

  @for (task of tasks; track task) {
    <ion-item>
      <ion-label>{{task}}</ion-label>
    </ion-item>
  }

</ion-content>